{{#if this.siteSettings.riot_enabled}}
  <div class="control-group" id="riot">
      <label class="control-label">{{i18n 'riot.title'}}</label>
      <div class="controls">
          {{#each acct in model.riot_accounts}}
            <p>{{acct.riot_name}}</p>
          {{/each}}
          <a href class='btn' {{action 'addRiotLink'}}>
              {{fa-icon "plus"}}
              {{i18n 'riot.add_account'}}
          </a>
      </div>
  </div>
{{/if}}
